.sec{
    padding: 70px 60px;
    color: black;
}
.content{

}
.content span{
    color: rgba(0, 0, 0, 0.418);
}
.content p{
    margin-top: 20px;
}

.sec{
    background-color:white;
    color: black;
    padding: 40px 40px;
    margin: 22px 15px;
  }
  .sec h2{
    padding:20px 10px;
    font-size: 25px;
    margin:0 10px 10px;
    text-transform: capitalize;
  }
  
  .sec p{
    font-size: 15px;
    margin:10px 0 40px;
    color:rgba(0, 0, 0, 0.587);
    text-transform: capitalize;
  }
  