.continer{
    background-color:white;
    color: black;
    padding: 40px 40px;
    margin: 15px ;
}
.continer h2{
    padding: 10px 10px;
}
.continer p{
font-size: 14px;
margin-bottom: 20px;
}
.content{
    display: flex;
}
.content >div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.continer label{
    margin-bottom: 10px;
    font-size: 14px;
}
.content input{
border: 2px solid #ddd;
width: 550px;
border-radius: 5px;
padding: 7px 60px 15px 5px;
}
.singlinput{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
/* .singlinput label{

} */
.singlinput input{
padding: 10px 5px;
border: 2px solid #ddd;
border-radius: 5px;
}
.content select{
border: 2px solid #ddd;
width: 550px;
border-radius: 5px;
padding: 5px 60px 15px 5px;
}
.continer textarea{
    margin-left: 20px;
    width: 94%;
    border-radius: 5px;
    padding: 15px 20px;
    border: 2px solid #ddd;
}
.continer button{
   padding: 18px 70px;
   display: block;
   background-color: black;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: 14px;
   margin: 30px auto 10px;
}
.secworker{
    background-color:white;
    color: black;
    padding: 40px 40px;
    margin: 15px ;
}
.content2{
    display: flex;
    justify-content: start;
    padding: 14px;
    align-items: center;
    border-radius: 5px;
    background-color: #dddddd68;
    width: fit-content;
    margin-right: 60px;
    margin-top: 20px;
}
.continer2 {
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}
.content2 > div{
    padding: 20px;
    background-color: white;
    width: fit-content;
    height:120px;
}
.content2 h5{
color:#95B9C7 ;
margin: 2px 0;
font-size: 14px;
}
.content2 h3{
    margin: 10px 0;
}
/* .content2 p{
    
} */
.content2 span{
    color:gray;
    font-size: 16px;
}
.continer2{
    background-color:white;
    color: black;
    padding: 40px 40px;
    margin: 15px ;
}
.content2 .button{
    padding: 14px 40px;
    display: block;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin: 20px auto ;
}

.secworker button{
    padding: 18px 70px;
    display: block;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin: 30px auto 10px;
}